#orange-book {
    width: 150px;
    height: 250px;
    background-color: rgb(221, 101, 2);
}

#book-top {
    width: 180px;
    height: 20px;
    background-color: gainsboro;
}
#jug {
    width: 250px;
    height: 380px;
    background-color:gainsboro;
    border-radius: 0 0 80px 80px;
}